* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    color: rgb(34, 34, 34);
    background-color: white;
}

h1 {
    color: red;
}