package views

import "github.com/gattini0928/Equilibrium/internal/models"

templ PatientProfilePage(data models.PerfilView, p models.PatientDashboard) {
  @Layout("Perfil", data.isAuth) {
    <h2>Seu Perfil - {p.Perfil.Name}</h2>

    for _, msg := range data.Messages {
      <span>{msg}</span>
    }
  }
}


